{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'myHGapp/style.css' %}">

<h1>{{ question.question_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'myHGapp:vote' question.id %}" method="post">
{% csrf_token %}

{% for choice in question.choice_set.all %}
  <li id="radioLI" style="flex-flow: row nowrap; ">
    <input class="radio" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
  </li>
{% endfor %}
<br><input type="submit" value="Vote">
</form>
